.menu-box {
  position: fixed;
  width: 4rem;
  height: 100%;
}

.figure-svg {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

/* MENU */

.bg-menu {
  background: #000000;
  border-right: 1px solid #5b6168;
}

.hover-box-menu-active,
.hover-box-menu {
  cursor: pointer;
}
.hover-box-menu-active > svg {
  fill: #ffffff;
}

.hover-box-menu > svg {
  fill: #7e7e7e;
}
.hover-box-menu:hover > svg {
  fill: #ffffff;
}
