.submenu-box {
  position: fixed;
  width: 15rem;
  height: 100%;
  margin-left: 4rem;
}

/* MENU */

.card-option {
  width: auto;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  background: #8609c9;
  color: white;
  cursor: pointer;
}
.card-option:hover {
  background: #52047c;
}

.text-info {
  padding: 10px;
  border-radius: 4px;
  color: #bfc2cb;
}

/* SCROLL  SUBMENU */
.scroll-sub-menu {
  overflow: scroll;
  height: 100%;
  overflow-x: hidden;
  transition: 1s;
}
.scroll-sub-menu::-webkit-scrollbar {
  width: 10px;
  border: solid 1px;
  border-left-color: #5b6168;
}

/* Handle on hover */
.scroll-sub-menu::-webkit-scrollbar-thumb:hover {
  background: rgb(75 85 99 / 1);
}
